./config.status
./.git/hooks/pre-rebase.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/pre-push.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/pre-commit.sample
./.git/hooks/update.sample
./.git/hooks/commit-msg.sample
./nonblock/doit.1
./assignment/np09s_hw1_serv
./assignment/np09s_hw1_cli
./configure
./config.guess
./install-sh
./sigio/script.1
./sigio/script.2
./config.sub
./intro/daytimetcpcli
./intro/daytimetcpsrv1
./threads/doit.1
./threads/doit.2
./libfree/Make.tar
