
c/algo/doaffodil
c/algo/permutation
c/algo/test
c/algo/triangle
c/algo/turnonTheLamp
!c/**/*.c
c/Datastructure/estimate_Shakespeare/btmaills_code/a.out
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/applypatch-msg.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/commit-msg.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/post-update.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/pre-applypatch.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/pre-commit.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/prepare-commit-msg.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/pre-push.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/pre-rebase.sample
c/Datastructure/estimate_Shakespeare/btmaills_code/.git/hooks/update.sample
c/Datastructure/estimate_Shakespeare/hash
c/Datastructure/estimate_Shakespeare/wordCounter
c/Datastructure/linkList/ex1
c/Eular_Project/P1/p1
c/Eular_Project/P2/p2
c/Eular_Project/p3/p3
c/gen_ignore.sh
c/graduate/os/a.out
c/graduate/os/producer_consumer
c/leecode/twoSum/twoSum
!c/**/Makefile
!cpp/**/.*
cpp/a.out
cpp/bt
cpp/bt_order
!cpp/**/*.cpp
cpp/gen_ignore.sh
cpp/grep_str
cpp/lang.h
cpp/leecode/\[206\]Reverse_the_linklist/sol
cpp/leecode/\[209\]Minimum_size_subarray_sum/sol
cpp/leecode/\[217\]Contain_duplicate/sol
cpp/leecode/\[219\]Contain_duplicate_2/sol
cpp/leecode/\[67\]Add_binary/sol
cpp/leecode/isomorphic/sol
cpp/leecode/kth_largest_element_in_an_array/sol
cpp/leecode/search_insert_position/sol
cpp/leecode/single_number/sol
cpp/leecode/single_number/sol_xor
cpp/leecode/sort_colors/sol
cpp/leecode/twoSum/twoSum
cpp/remap_lang/a.out
!cpp/**/*test*
cpp/The_cpp_STL_book/stl/deque1
cpp/The_cpp_STL_book/stl/vector1
cpp/Uva/156/156
cpp/uva_514
cpp/vector
cpp/vector2
c/project/small_shell/a.out
**/**/cscope*
!c/**/*test
c/test/201503/a.out
c/test/201503/deadloop
c/test/201503/enum_as_parameter
c/test/201503/head_file_dependency/test
c/test/201503/helloworld
c/test/201503/helloworld_with_attribute
c/test/201503/shared_lib
c/test/201503/stringPointer
c/test/201503/struct_with_attribute
c/test/201503/test
c/test/201503/typedef_pointer_to_function
c/test/a
c/test/aabb
c/test/a.out
c/test/argc_argv
c/test/asm/a.out
c/test/average
c/test/charPtr
c/test/clock_speed
c/test/count_the_range
c/test/dir_test.sh
c/test/echo_test.sh
c/test/evaluationOrder_test
c/test/ex1b
c/test/ex2
c/test/extract
c/test/fibonacci_non_recursive
c/test/foo
c/test/fork
c/test/fork1
c/test/fork_and_wait_child
c/test/fork_exec
c/test/funPointer
c/test/gcctest/getopt_long
c/test/gcctest/print_env
c/test/gcctest/reciprocal
c/test/getenv_test
c/test/hanoi
c/test/heap
c/test/hello
c/test/helloworld
c/test/isTriangle
c/test/macro_array_size
c/test/macro_test/main
c/test/main
c/test/memoization
c/test/mmap_read
c/test/mmap_test
c/test/mmap_write
c/test/oneDimetionArrayIteration_byPointer
c/test/pi_divide_4
c/test/pipe
c/test/point2point
c/test/popen
c/test/print1000
c/test/print-pid
c/test/rangeOfInt
c/test/return_status
c/test/SectionMapping
c/test/SectionMapping.elf
c/test/shm
c/test/show_transfer_percentage/a.out
c/test/SimpleSection
c/test/sqrtNegValue_test
c/test/stack
c/test/stdio_test
c/test/struct_sizeof_test
c/test/struct_test
c/test/struct_test2
c/test/swap_gdb
c/test/test
c/test/testodd
c/test/tifftest
c/test/twoDimentionArryIteration_byPointer
c/test/vsnprintf_test
c/test/zombie
c/Uva/10018/10018
c/Uva/10038/10038
c/Uva/10055/10055
c/Uva/10071/10071
c/Uva/10082/10082
c/Uva/10168/10168
c/Uva/10189/10189
c/Uva/102/a.out
c/Uva/10608/10608
c/Uva/10701/uva10701
c/Uva/108/108
c/Uva/128/128
c/Uva/1339_x/1339
c/Uva/136/136
c/Uva/1583/1583
c/Uva/1584/1584
c/Uva/1586/1586
c/Uva/272/272
c/Uva/299/299
c/Uva/340/340
c/Uva/369/a.out
c/Uva/369_x/369
c/Uva/382/382
c/Uva/458/458
c/Uva/485/485
c/Uva/488/488
c/Uva/494/a.out
c/Uva/495/112233
c/Uva/495/495
c/Uva/516/a.out
c/Uva/536/uva536
c/Uva/591/591
c/Uva/846/846
!**/**/gen_ignore.sh
**/**/*.o
./TEST/
web/**/*~
**/**/*.ycm*
