# /etc/fetchmailrc for system-wide daemon mode
# This file must be chmod 0600, owner fetchmail

# The default for this option is 300, which polls the server every 5
# minutes.
#
#set daemon	300

# By default, the system-wide fetchmail will output logging messages to
# syslog; uncomment the line below to disable this. This might be useful
# if you are logging to another file using the 'logfile' option.
#
# set no syslog

# Avoid loss on 4xx errors. On the other hand, 5xx errors get more
# dangerous.
#
set no bouncemail

# The following defaults are used when connecting to any server, and can
# be overridden in the server description below.
# 
# Set antispam to -1, since it is far safer to use that together with no
# bouncemail.
#
defaults:
  antispam -1 
  batchlimit 100

# Example server section.
#
#poll foo.bar.org with protocol pop3
#  user baka there is localbaka here smtphost smtp.foo.bar.org;
