!**/*.c
!**/*test
!**/gen_ignore.sh
Eular_Project/P1/p1
Eular_Project/P2/p2
Eular_Project/p3/p3
algo/turnonTheLamp
algo/triangle
algo/doaffodil
algo/permutation
algo/test
Uva/846/846
Uva/128/128
Uva/10189/10189
Uva/536/uva536
Uva/10038/10038
Uva/369_x/369
Uva/10701/uva10701
Uva/1586/1586
Uva/299/299
Uva/136/136
Uva/10071/10071
Uva/1583/1583
Uva/10082/10082
Uva/10168/10168
Uva/108/108
Uva/382/382
Uva/591/591
Uva/272/272
Uva/458/458
Uva/10018/10018
Uva/10055/10055
Uva/1339_x/1339
Uva/1584/1584
Uva/340/340
Uva/488/488
Datastructure/linkList/ex1
test/a.out
test/vsnprintf_test
test/charPtr
test/pi_divide_4
test/swap_gdb
test/rangeOfInt
Uva/220/a.out
Uva/1394/1394
Uva/512/a.out
Uva/201/a.out
Uva/489/489
Uva/213/a.out
gen_ignore.sh
test/print-pid
test/fork_and_wait_child
test/main
test/macro_test/main
test/struct_test2
test/echo_test.sh
test/zombie
test/fork
test/gcctest/print_env
test/gcctest/reciprocal
test/gcctest/getopt_long
test/fork_exec
test/tifftest
test/clock_speed
test/dir_test.sh
test/SectionMapping.elf
Datastructure/estimate_Shakespeare/hash
Datastructure/estimate_Shakespeare/wordCounter
