./fetchmailconf.py
./t.validate-xhtml
./.pc/01_fetchmailconf.patch/fetchmailconf.py
./debian/patches/01_fetchmailconf.patch
./debian/rules
./t.x509_name_match
./depcomp
./dist-tools/manServer.pl
./dist-tools/html2txt
./configure
./config.guess
./install-sh
./ylwrap
./contrib/fetchmailnochda.pl
./contrib/logout
./contrib/gotmail
./contrib/login
./contrib/fetchsetup
./contrib/getmail
./contrib/debian_rc
./contrib/preauth-harness
./contrib/maildaemon
./t.regression
./config.sub
./specgen.sh
./t.smoke
./config.rpath
./missing
./compile
./py-compile
./t.validate-xhtml10
